{% extends 'base.html.twig' %}

{% block title %}Student list{% endblock %}

{% block body %}
    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Studentai</li>
        <li class="list-group-item">
            <a href="/student?name=Mindaugas%20Bernotas&amp;project=knygnesiai">Mindaugas Bernotas</a>
            (
            <span class="badge">Mentorius</span> Karolis Mačiulskis
            )
        </li>
        <li class="list-group-item">
            <a href="/student?name=Tadas%20Kundelis&amp;project=knygnesiai">Tadas Kundelis</a>
            (
            <span class="badge">Mentorius</span> Karolis Mačiulskis
            )
        </li>
        <li class="list-group-item">
            <a href="/student?name=Matas%20Kazanavi%C4%8Dius&amp;project=carbooking">Matas Kazanavičius</a>
            (
            <span class="badge">Mentoriai</span> Monika Krikščiūnienė, Tomas Karšatovas
            )
        </li>
        <li class="list-group-item">
            <a href="/student?name=Adomas%20Poleninas&amp;project=carbooking">Adomas Poleninas</a>
            (
            <span class="badge">Mentoriai</span> Monika Krikščiūnienė, Tomas Karšatovas
            )
        </li>
        <li class="list-group-item">
            <a href="/student?name=Aidas%20Eglinskas&amp;project=carbooking">Aidas Eglinskas</a>
            (
            <span class="badge">Mentoriai</span> Monika Krikščiūnienė, Tomas Karšatovas
            )
        </li>
        <li class="list-group-item">
            <a href="/student?name=Indr%C4%97%20Krasauskait%C4%97&amp;project=academyui">Indrė Krasauskaitė</a>
            (
            <span class="badge">Mentorius</span> Tomas Karšatovas
            )
        </li>
        <li class="list-group-item">
            <a href="/student?name=Geraldas%20Kasperovi%C4%8Dius&amp;project=buhalteriui">Geraldas Kasperovičius</a>
            (
            <span class="badge">Mentorius</span> Aistis Stramkauskas
            )
        </li>
        <li class="list-group-item">
            <a href="/student?name=Matas%20Kulingauskas&amp;project=buhalteriui">Matas Kulingauskas</a>
            (
            <span class="badge">Mentorius</span> Aistis Stramkauskas
            )
        </li>
        <li class="list-group-item">
            <a href="/student?name=Mantas%20Gele%C5%BEinis&amp;project=mapsportas">Mantas Geležinis</a>
            (
            <span class="badge">Mentorius</span> Agnis Belte
            )
        </li>
        <li class="list-group-item">
            <a href="/student?name=Pijus%20Pauliukonis&amp;project=mapsportas">Pijus Pauliukonis</a>
            (
            <span class="badge">Mentorius</span> Agnis Belte
            )
        </li>
        <li class="list-group-item">
            <a href="/student?name=Ignas%20Dailyd%C4%97&amp;project=trainme">Ignas Dailydė</a>
            (
            <span class="badge">Mentorius</span> Laurynas Valenta
            )
        </li>
        <li class="list-group-item">
            <a href="/student?name=Gintautas%20Plonis&amp;project=trainme">Gintautas Plonis</a>
            (
            <span class="badge">Mentorius</span> Laurynas Valenta
            )
        </li>
        <li class="list-group-item">
            <a href="/student?name=Aurelijus%20Banelis&amp;project=hack%3Cb%3Eer%3C/b%3E%27is%20po%20.mySubdomain%20%26project%3D123">Aurelijus
                Banelis</a>
            (
            <span class="badge">Mentorius</span> &lt;b&gt;Ponas&lt;/b&gt; Programišius
            )
        </li>
        <li class="list-group-item">
            <a href="/student?name=%3Cb%3EIr%3C/b%3E%20jo%20%22geras%22%20draug%27as&amp;project=hack%3Cb%3Eer%3C/b%3E%27is%20po%20.mySubdomain%20%26project%3D123">&lt;b&gt;Ir&lt;/b&gt;
                jo "geras" draug'as</a>
            (
            <span class="badge">Mentorius</span> &lt;b&gt;Ponas&lt;/b&gt; Programišius
            )
        </li>
    </ul>
    {% include  'project/index.html.twig' %}
{% endblock %}

