{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Studentai</li>
        {% for key, project in projects %}
            {% for student in project.students %}
                <li class="list-group-item">
                    <a href="{{ path('student', {'name': student, 'project': key }) }}">{{ student }}</a>
                    (
                    <span class="badge">Mentorius</span> {{ project.mentors|join(', ') }}
                    )
                </li>
            {% endfor %}
        {% endfor %}

    </ul>

    <div class="m-4">
        <form action="/student" method="get">
            <div class="input-group">
                <input name="name" type="text" class="form-control" placeholder="Studentas">
            </div>
            <div class="input-group">
                <input name="project" type="text" class="form-control" placeholder="Projektas">
            </div>
            <button type="submit" class="btn btn-success">Sužinoti vertinimą</button>
        </form>
    </div>

    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Projektai</li>
        <li class="list-group-item">
            <h3>Nedaryk pats</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/nedarykpats">github.com/nfqakademija/nedarykpats</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://nedarykpats.projektai.nfqakademija.lt/">nedarykpats.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh nedarykpats@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>Car booking</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/savanoryste">github.com/nfqakademija/savanoryste</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://savanoryste.projektai.nfqakademija.lt/">savanoryste.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh savanoryste@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>Maisto dalinimosi sistema</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/curlybrackets">github.com/nfqakademija/curlybrackets</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://curlybrackets.projektai.nfqakademija.lt/">curlybrackets.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh curlybrackets@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>Hobby</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/hobby">github.com/nfqakademija/hobby</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank"
                       href="http://hobby.projektai.nfqakademija.lt/">hobby.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh hobby@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h3>' OR 1 -- DROP DATABASE</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank"
                       href="https://github.com/nfqakademija/hack%3Cb%3Eer%3C%2Fb%3E%27is%20po%20.mySubdomain%20%26project%3D123">github.com/nfqakademija/hack&lt;b&gt;er&lt;/b&gt;'is
                        po .mySubdomain &amp;project=123</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank"
                       href="http://hack%3Cb%3Eer%3C%2Fb%3E%27is%20po%20.mySubdomain%20%26project%3D123.projektai.nfqakademija.lt/">hack&lt;b&gt;er&lt;/b&gt;'is
                        po .mySubdomain &amp;project=123.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh hack&lt;b&gt;er&lt;/b&gt;'is po .mySubdomain &amp;project=123@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
    </ul>

    <div class="m-4">
        <a class="text-light" href="students.json">Duomenų failas</a>
    </div>
{% endblock %}
