<div class="m-4">
    <form action="{{ path('student') }}" method="get">
        <div class="input-group">
            <input name="name" type="text" class="form-control" placeholder="Studentas">
        </div>
        <div class="input-group">
            <input name="project" type="text" class="form-control" placeholder="Projektas">
        </div>
        <button type="submit" class="btn btn-success">Sužinoti vertinimą</button>
    </form>
</div>