{% extends 'base.html.twig' %}

{% block title %}Hello PeopleController!{% endblock %}

{% block body %}
    <div id="root">Loading...</div>
    <noscript>To use this app, enable JavaScript</noscript>
    <div>
        Versijuojamas JavaScript failas: <b id="versionedFile">...</b>
    </div>

    <div class="form-inline form p-2">
        <input type="text" id="name" placeholder="Name"/>
        <span id="name-validation" data-path="{{ path('validate', {'element': 'name'}) }}"></span>
    </div>

    <div class="form-inline form p-2">
        <input type="text" id="team" placeholder="Team"/>
        <span id="team-validation" data-path="{{ path('validate', {'element': 'team'}) }}"></span>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        var usingVersionedFileJs = true;
        var usingReactApp = true;
    </script>
    {{ encore_entry_script_tags('validation') }}
    {{ parent() }}
{% endblock %}
