<nav class="navbar navbar-primary">
    <ul class="nav navbar-nav">
        <li><a href="{{ path('home') }}">Base</a></li>
        <li><a href="{{ path('project') }}">Project</a></li>
    </ul>
</nav>